In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
import scipy.stats as stats
import seaborn as sns

In [8]:
#import data from combined csv
df = pd.read_csv('data/cleaned_data.csv')
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
df.head(1)

,video_id,trending_date,category_id,publish_time,views,likes,dislikes,comment_count,Country Code,Days to trend
0,2kyS6SvSYSE,2017-11-14,22,2017-11-13,748374,57527,2966,15954,US,1 days 00:00:00.000000000

In [11]:
random = df.sample(frac=0.5, replace=True, random_state=1)
random.head(25)

,video_id,trending_date,category_id,publish_time,views,likes,dislikes,comment_count,Country Code,Days to trend
128037,1LKHldBxY_A,2018-01-02,24,2017-12-31,1943908,9385,3448,755,FR,2 days 00:00:00.000000000
267336,BNYi-dZ54YE,2018-06-09,25,2018-06-08,188312,1325,495,1017,RU,1 days 00:00:00.000000000
312201,T26mOlxcq74,2018-03-19,22,2018-03-17,574889,14395,534,1922,JP,2 days 00:00:00.000000000
73349,_Hvzkvtcjzc,2018-05-12,24,2018-05-11,122987,810,25,39,CA,1 days 00:00:00.000000000
117583,YcRAUmF_9ak,2018-06-08,24,2018-06-07,27003,47,24,27,DE,1 days 00:00:00.000000000
21440,r-i6XpcL1Fs,2018-03-06,17,2018-02-23,8638308,104263,31188,23187,US,11 days 00:00:00.000000000
229520,R_5YBLuXAuU,2018-06-09,43,2018-06-08,565220,3669,1188,561,IN,1 days 00:00:00.000000000
293372,93_PpU9M_t4,2018-03-29,24,2018-03-28,44574,395,31,92,MX,1 days 00:00:00.000000000
167302,UTNnhZqTY5c,2018-01-03,17,2017-12-20,18605,173,27,171,GB,14 days 00:00:00.000000000
21758,c7cYON3uVZo,2018-03-08,24,2018-03-02,1522416,7898,484,862,US,6 days 00:00:00.000000000
176485,OTHHeIAYfuU,2018-02-21,10,2018-02-07,1036518,28044,853,2681,GB,14 days 00:00:00.000000000
166802,yJqsPBWbtjk,2018-01-01,24,2017-12-25,1425959,29285,5371,12384,GB,7 days 00:00:00.000000000
51668,19QxOZU0zkQ,2018-01-14,22,2018-01-11,814962,24241,1619,9430,CA,3 days 00:00:00.000000000
282090,05H-xhKRl5A,2018-01-27,24,2018-01-26,85546,608,35,20,MX,1 days 00:00:00.000000000
188317,K0GRBMSCIK4,2018-05-01,24,2018-04-09,7718924,240810,7003,12875,GB,22 days 00:00:00.000000000
246322,fdv3SFq6Ta8,2018-02-08,1,2018-02-07,27700,112,27,10,RU,1 days 00:00:00.000000000
92740,6PIyZjBQcUw,2018-01-23,23,2018-01-21,786036,11202,424,1162,DE,2 days 00:00:00.000000000
294103,FeAPpLkwTHQ,2018-04-02,26,2018-04-01,30903,2531,90,263,MX,1 days 00:00:00.000000000
221143,mtfHKj82PZY,2018-04-22,22,2018-04-20,85196,309,116,173,IN,2 days 00:00:00.000000000
148209,Y0mzmeX9Lyg,2018-04-27,17,2018-04-26,50731,493,50,72,FR,1 days 00:00:00.000000000
26103,ZwoDYJWWXW0,2018-03-30,10,2018-03-23,3524302,141831,3575,9747,US,7 days 00:00:00.000000000
175582,wrpeEitIEpA,2018-02-16,1,2018-01-22,2301015,66188,3372,4620,GB,25 days 00:00:00.000000000
296022,gR9jkYJ-AeM,2018-04-18,22,2018-04-17,19632,2860,15,301,MX,1 days 00:00:00.000000000
120809,qXn8NXDox1A,2017-11-24,15,2017-11-22,24540,883,10,71,FR,2 days 00:00:00.000000000
99335,S90WC4hz2V4,2018-02-27,17,2018-02-26,109339,3330,88,353,DE,1 days 00:00:00.000000000